---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
    {% include head.html %}
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header flex" role="banner">
        <div class="container animated fadeIn">
            <div class="row">
              <div class="tealit">
                    <a href="{{ site.url }}">
                        <img src="{{ site.logo }}" class="img-circle zoombtn animated rotateIn">
                    </a>
              </div>
              <div class="motto">
                Rzeczy trudne robimy od ręki,<br>
                na cuda trzeba poczekać.
              </div>
                    </h3>
                  <div class="kontakt">info@tealit.pl |
                    Zabrze: 32 74 36 087 |
                    Wrocław: 717 583 740
                  {% include social-links.html %}
                  </div>
            </div>
        </div>
    </header>
</body>
{% include scripts.html %}
</html>
